<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.user.mapper.UserMapper">
	<resultMap id="queryResultMap" type="com.ssm.user.domain.SysUser">
		<!-- 主键 -->
		<result column="id" property="id" jdbcType="INTEGER"/>
		<!-- 用户名 -->
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<!-- 密码 -->
		<result column="passwd" property="passwd" jdbcType="VARCHAR"/>
		<!-- 手机号码 -->
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<!-- 帐号类型 -->
		<result column="account_type" property="accountType" jdbcType="TINYINT"/>
		<!-- 邮箱 -->
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<!-- 创建时间 -->
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<!-- 最后修改时间 -->
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
		<!-- 状态，0、已删除 1、正常  2、无效 -->
		<result column="status_id" property="statusId" jdbcType="TINYINT"/>
		<!-- 真实姓名 -->
		<result column="real_name" property="realName" jdbcType="VARCHAR"/>
		<!-- 头像 -->
		<result column="user_img" property="userImg" jdbcType="VARCHAR"/>
		<!-- 用户的性别，值为1时是男性，值为2时是女性，值为0时是未知 -->
		<result column="sex" property="sex" jdbcType="TINYINT"/>
		<!-- 所在地区id -->
		<result column="area_ids" property="areaIds" jdbcType="VARCHAR"/>
		<!-- 省 -->
		<result column="area_province" property="areaProvince" jdbcType="VARCHAR"/>
		<!-- 市 -->
		<result column="area_city" property="areaCity" jdbcType="VARCHAR"/>
		<!-- 区 -->
		<result column="area_district" property="areaDistrict" jdbcType="VARCHAR"/>
		<!-- 用户来源类型 -->
		<result column="source_type" property="sourceType" jdbcType="TINYINT"/>
		<!-- 是否已经绑定手机号码 0：否 1：是 -->
		<result column="is_bind_mobile" property="isBindMobile" jdbcType="TINYINT"/>
		<!-- 备注 -->
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<!-- 微信授权openid -->
		<result column="wx_openid" property="wxOpenid" jdbcType="VARCHAR"/>
		<!-- 微信unionid -->
		<result column="wx_unionid" property="wxUnionid" jdbcType="VARCHAR"/>
		<!-- 微信授权refreshToken -->
		<result column="wx_refresh_token" property="wxRefreshToken" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="baseSelectsql">t.id , t.username , t.passwd , t.phone , t.account_type , t.email , DATE_FORMAT(t.create_time,'%Y-%m-%d %H:%i:%s') AS create_time , DATE_FORMAT(t.modify_time,'%Y-%m-%d %H:%i:%s') AS modify_time , t.status_id , t.real_name , t.user_img , t.sex , t.area_ids , t.area_province , t.area_city , t.area_district , t.source_type , t.is_bind_mobile , t.remark , t.wx_openid , t.wx_unionid , t.wx_refresh_token</sql>
	<sql id="baseMapSelectsql">t.id AS id , t.username AS username , t.passwd AS passwd , t.phone AS phone , t.account_type AS accountType , t.email AS email , DATE_FORMAT(t.create_time,'%Y-%m-%d %H:%i:%s') AS createTime , DATE_FORMAT(t.modify_time,'%Y-%m-%d %H:%i:%s') AS modifyTime , t.status_id AS statusId , t.real_name AS realName , t.user_img AS userImg , t.sex AS sex , t.area_ids AS areaIds , t.area_province AS areaProvince , t.area_city AS areaCity , t.area_district AS areaDistrict , t.source_type AS sourceType , t.is_bind_mobile AS isBindMobile , t.remark AS remark , t.wx_openid AS wxOpenid , t.wx_unionid AS wxUnionid , t.wx_refresh_token AS wxRefreshToken</sql>

	<select id="findSysUserList" resultType="com.ssm.user.domain.SysUser">
		select
		<include refid="baseMapSelectsql"/>
		from sys_user t
	</select>
</mapper>